
body color: rgb(252, 252, 252);
h1, h2, 
dl, dt, dd, ul, li, a, p {
	color: rgb(252, 252, 252);
}

/* Set background to white */
body {
	background-color: #fff;
}

/* Remove underline from links */
a {
	text-decoration: none;
}

/* Style the header */
header {
	background-color: #000;
	color: #fff;
	padding: 20px;
}

/* Style the navigation links */
nav {
	background-color: #ffffff;
	text-align: center;
	padding: 5px;
  }
  nav ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  nav li {
	display: inline-block;
	width: 150px;
	border: 2px solid #000000;
	line-height: 3em;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
	font-variant: small-caps;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-right: 10px;
  }
  nav a {
	color: #000000;
	text-decoration: none;
	display: block;
	padding: 10px;
  }
  nav a:hover {
	background-color: #000000;
	color: #ffffff;
  }
  nav .active {
	background-color:  #ffffff;
	color: #000000;
  }